<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395540117439-hriqo5e2ka4g8dotnh77a8uog4u4olh2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395540117439-hriqo5e2ka4g8dotnh77a8uog4u4olh2</string>
	<key>API_KEY</key>
	<string>AIzaSyBznnXqf0k_NCiamta00H2VQG3l9M4W6No</string>
	<key>GCM_SENDER_ID</key>
	<string>395540117439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gigjobMobile</string>
	<key>PROJECT_ID</key>
	<string>gigjob-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>gigjob-mobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395540117439:ios:492e2173a672318a67d30a</string>
</dict>
</plist>